<div *ngIf="msg" class="msg">{{msg}}</div>
<section *ngIf="contacts">

  <h3 highlight>
    {{ contact.name | awesome }}
    <span class="edit" (click)="editContact()" *ngIf="!shouldEdit">Edit</span>
  </h3>

  <form *ngIf="shouldEdit" (ngSubmit)="onSubmit()" [formGroup]="contactForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" required>
      <div *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched" class="alert">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="name">Phone</label>
      <input type="text" formControlName="phone" required>
      <div *ngIf="!contactForm.controls['phone'].valid && contactForm.controls['phone'].touched" class="alert">
        Phone is required.
      </div>
    </div>

    <div class="form-group">
      <label for="name">City</label>
      <input type="text" formControlName="city" required>
      <div *ngIf="!contactForm.controls['city'].valid && contactForm.controls['city'].touched" class="alert">
        City is required.
      </div>
    </div>

    <div class="form-group">
      <label for="name">Address</label>
      <input type="text" formControlName="address" required>
      <div *ngIf="!contactForm.controls['address'].valid && contactForm.controls['address'].touched" class="alert">
        Address is required.
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-default save-button" [disabled]="!contactForm.valid">
        Save
      </button>
    </div>
  </form>

  <div class="button-group">
    <button type="button" class="btn" (click)="next()" [disabled]="!contactForm.valid && contactForm.touched">
      Next Contact
    </button>

    <button type="button" class="btn" (click)="newContact()">
      New Contact
    </button>
  </div>
</section>

